## 第四周

In [1]:
!pip install pandas

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [3]:
import pandas as pd

In [4]:
print(pd.__version__)

2.3.1

In [55]:
import pandas as pd
# 創建Series

# 建立紀錄成績的Series，不設定index，value是他們的分數
grades = pd.Series([60, 27, 72, 53])
print(grades)

# 建立紀錄成績的Series，index是學生名稱，value是他們的分數
grades_withindex = pd.Series(
    [60, 27, 72, 53],  #成績數值List
    index=['多拉A夢', '大雄', '小夫', '胖虎'])  #對應的學生名稱

# 輸出 Series，觀察格式與內容
print(grades_withindex)

0    60
1    27
2    72
3    53
dtype: int64
多拉A夢    60
大雄      27
小夫      72
胖虎      53
dtype: int64

In [56]:
# 建立學生資料的dictionary（字典）
data = {
    'name': ['多啦A夢', '大雄', '小夫', '胖虎'],
    'email': ['Dora@gmail.com', 'hibino@gmail.com', 'rich@gmail.com', 'goodSinger@gmail.com'],
    'grades': [60, 77, 92, 43]
}

# 使用 pd.DataFrame() 將上面的字典轉換為表格型資料（DataFrame）
df = pd.DataFrame(data)

print(df)

df_withindex = pd.DataFrame(data,index=['學生1', '學生2', '學生3', '學生4'])
print("設定index：\n",df_withindex)

df_withcolumn = pd.DataFrame(data,index=['學生1', '學生2', '學生3', '學生4'],columns=["email","name","grades"])
print("設定 column：\n",df_withcolumn)

   name                 email  grades
0  多啦A夢        Dora@gmail.com      60
1    大雄      hibino@gmail.com      77
2    小夫        rich@gmail.com      92
3    胖虎  goodSinger@gmail.com      43
設定index：
      name                 email  grades
學生1  多啦A夢        Dora@gmail.com      60
學生2    大雄      hibino@gmail.com      77
學生3    小夫        rich@gmail.com      92
學生4    胖虎  goodSinger@gmail.com      43
設定 column：
                     email  name  grades
學生1        Dora@gmail.com  多啦A夢      60
學生2      hibino@gmail.com    大雄      77
學生3        rich@gmail.com    小夫      92
學生4  goodSinger@gmail.com    胖虎      43

In [5]:
# 使用Pandas讀取資料
# 從本機讀取 CSV 檔案，若使用Colab，要先將檔案上傳後才能讀取
df = pd.read_csv('grades.csv',encoding='utf-8-sig')
df.head(3)

     姓名 性別 班級  數學  英文  國文  自然  社會
0  多拉A夢  男  A  71  58  64  73  58
1    大雄  男  A  96  84  79  66  80
2    胖虎  男  A  61  74  90  80  76

In [58]:
print(df.columns)
print(df.index)

Index(['姓名', '性別', '班級', '數學', '英文', '國文', '自然', '社會'], dtype='object')
RangeIndex(start=0, stop=30, step=1)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   姓名      30 non-null     object
 1   性別      30 non-null     object
 2   班級      30 non-null     object
 3   數學      30 non-null     int64
 4   英文      30 non-null     int64
 5   國文      30 non-null     int64
 6   自然      30 non-null     int64
 7   社會      30 non-null     int64
dtypes: int64(5), object(3)
memory usage: 2.0+ KB

In [60]:
df['英文'].head(3)

0    58
1    84
2    74
Name: 英文, dtype: int64

In [61]:
# 顯示「姓名」和「英文」欄位
df[['姓名', '英文']].head(3)

     姓名  英文
0  多拉A夢  58
1    大雄  84
2    胖虎  74

In [62]:
# 找出英文 > 90 分的學生，並只顯示「姓名」和「英文」欄位
df[df['英文'] > 90][['姓名', '英文']].head(3)

     姓名  英文
10  我愛羅  95
11   魯夫  92
12   柯南  91

In [63]:
# 將「國文」欄位轉為 NumPy 陣列
chinese_scores = df['國文'].values

# 檢查「國文」欄位原本是什麼型別（Series）
print("轉換前資料類型: ", type(df['國文']))

# 檢查轉換後的型別（NumPy array）
print("轉換後資料類型: ", type(chinese_scores))

轉換前資料類型:  <class 'pandas.core.series.Series'>
轉換後資料類型:  <class 'numpy.ndarray'>

In [64]:
# 課堂練習: 選取特定欄位

# 任務一: 選取特定欄位並存成新DataFrame(math_df)
math_df = df[['姓名', '班級', '數學']]

# 任務二: 從剛剛選出的資料中，找出數學成績低於60的學生
math_df[math_df['數學'] < 60].head(3)

     姓名 班級  數學
3    靜香  A  48
5  櫻木花道  B  50
7   三井壽  A  50

In [65]:
# 課堂練習: 選取特定欄位

# 任務三: 多條件篩選：數學 < 60 且 班級 == 'A'
## 使用 & 表示「且」的條件邏輯，每個條件要用括號包住
math_df[(math_df['數學'] < 60) & (math_df['班級'] == 'A')].head(3)

     姓名 班級  數學
3    靜香  A  48
7   三井壽  A  50
10  我愛羅  A  53

In [66]:
# 計算數學成績的平均值
print("數學平均：", df['數學'].mean())

# 計算數學成績的標準差（分散程度）
print("數學標準差：", df['數學'].std())

# 計算數學成績的最小值
print("數學最低分：", df['數學'].min())

數學平均： 71.03333333333333
數學標準差： 12.994649650538097
數學最低分： 48

In [67]:
# 查看完整統計摘要
df.describe(include='all')

,姓名,性別,班級,數學,英文,國文,自然,社會
count,30,30,30,30.000000,30.000000,30.000000,30.000000,30.000000
unique,30,2,2,NaN,NaN,NaN,NaN,NaN
top,多拉A夢,男,A,NaN,NaN,NaN,NaN,NaN
freq,1,19,17,NaN,NaN,NaN,NaN,NaN
mean,NaN,NaN,NaN,71.033333,71.100000,80.366667,72.033333,72.866667
std,NaN,NaN,NaN,12.994650,14.020551,12.696683,11.810233,11.476312
min,NaN,NaN,NaN,48.000000,40.000000,49.000000,44.000000,44.000000
25%,NaN,NaN,NaN,61.250000,61.250000,71.000000,65.250000,67.750000
50%,NaN,NaN,NaN,71.500000,71.000000,80.500000,71.500000,72.500000
75%,NaN,NaN,NaN,81.500000,81.000000,89.750000,79.250000,80.000000
max,NaN,NaN,NaN,96.000000,100.000000,100.000000,100.000000,93.000000

In [68]:
df.select_dtypes(include='number').corr()

          數學        英文        國文        自然        社會
數學  1.000000  0.095750 -0.239382 -0.156390  0.119805
英文  0.095750  1.000000  0.280276 -0.032507  0.251681
國文 -0.239382  0.280276  1.000000 -0.242233  0.206234
自然 -0.156390 -0.032507 -0.242233  1.000000 -0.438830
社會  0.119805  0.251681  0.206234 -0.438830  1.000000

In [69]:
df[['國文', '數學', '英文']].corr()

          國文        數學        英文
國文  1.000000 -0.239382  0.280276
數學 -0.239382  1.000000  0.095750
英文  0.280276  0.095750  1.000000

In [70]:
# 計算「數學」與「英文」分數的相關係數
df['數學'].corr(df['英文'])

np.float64(0.09574960964470358)

In [71]:
# 軸操作示範
# 指定科目平均(欄平均)
df[['數學', '英文', '國文']].mean(axis=0)

數學    71.033333
英文    71.100000
國文    80.366667
dtype: float64

In [72]:
# 課堂練習; 數值運算

# 任務1: 計算總分
df['英數總分'] = df['數學'] + df['英文']

# 任務2: 計算平均分數
## 法一: 將總分/科目數量
df['英數平均'] = (df['數學'] + df['英文']) / 2

# 法二: 使用mean()函數
df['英數平均'] = df[['數學', '英文']].mean(axis=1)

# 任務3: 計算加權分數
df['加權分數'] = df['數學'] * 1.5 + df['英文']

df.head(3)

     姓名 性別 班級  數學  英文  國文  自然  社會  英數總分  英數平均   加權分數
0  多拉A夢  男  A  71  58  64  73  58   129  64.5  164.5
1    大雄  男  A  96  84  79  66  80   180  90.0  228.0
2    胖虎  男  A  61  74  90  80  76   135  67.5  165.5

In [73]:
# 任務4: 顯示加權分數最高的學生姓名與分數
# 先找出加權分數的最大值

max_score = df['加權分數'].max()

# 根據最大值篩選出對應的學生（可能不只一人）
top_students = df[df['加權分數'] == max_score]

# 顯示這些學生的姓名與加權分數
top_students[['姓名', '加權分數']]

   姓名   加權分數
1  大雄  228.0

## 第五周

In [6]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.12/site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.12/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [7]:
# 課堂練習: 排序
# 使用Pandas讀取資料
# 從本機讀取 CSV 檔案，若使用Colab，要先將檔案上傳後才能讀取

df = pd.read_csv('grades.csv',encoding='utf-8-sig')
df.head(3)
# 任務1
# 不直接將排序結果取代原始df
print("排序前資料型態：",type(df),"\n\n")
print(df[['姓名', '數學', '英文']].head(3))


df_sorted1 = df.sort_values(by=['數學'], ascending=[False])
print("\n排序後資料型態：",type(df_sorted1),"\n\n")
df_sorted1[['姓名', '數學', '英文']].head(3)

排序前資料型態： <class 'pandas.core.frame.DataFrame'>


     姓名  數學  英文
0  多拉A夢  71  58
1    大雄  96  84
2    胖虎  61  74

排序後資料型態： <class 'pandas.core.frame.DataFrame'>

    姓名  數學  英文
1   大雄  96  84
9  王小明  94  61
6  出木杉  85  89

In [5]:
# 任務2
#by: 指定排序的欄位名稱（字串或列表）
#ascending: 排序方向，True 為升序，False 為降序
#inplace: 是否直接修改原始 DataFrame，否則會回傳一個新的 DataFrame，不會修改原始資料

df_sorted2 = df.sort_values(by=['數學', '英文'], ascending=[False, False])
df_sorted2[['姓名', '數學', '英文']].head(3)

     姓名  數學   英文
1    大雄  96   84
9   王小明  94   61
15  張雅婷  85  100

In [8]:
# 課堂練習: 分組P6  groupby
#by: 指定分組的欄位名稱(可以一欄或多欄)
#axis: 指定要依欄還是列分組，預設為axis=0 (0：欄、1：列)
#sort: 是否將分組結果依分組欄位排序，預設為 True
#as_index:是否將分組欄設為 index，預設為 True，實作上通常設False 

# 任務1
#對 df 按照 班級 分組後，僅選擇了 班級、姓名 和 數學 這三個欄位。
dfsort1 = df.groupby(by=['班級'])[["班級","姓名",'數學']]
#dfsort1 = df.groupby('班級')
print("dfsort1 type:",type(dfsort1))

#用 for 迴圈檢視dfsort1所有群組 
print("for 取值")
for name, group in dfsort1:
    print("type name",type(name),"name：",name, "type group",type(group),"資料筆數：",len(group),"\ngroup head(3))):\n",group.head(3),)

dfsort1 type: <class 'pandas.core.groupby.generic.DataFrameGroupBy'>
for 取值
type name <class 'tuple'> name： ('A',) type group <class 'pandas.core.frame.DataFrame'> 資料筆數： 17
group head(3))):
   班級    姓名  數學
0  A  多拉A夢  71
1  A    大雄  96
2  A    胖虎  61
type name <class 'tuple'> name： ('B',) type group <class 'pandas.core.frame.DataFrame'> 資料筆數： 13
group head(3))):
    班級    姓名  數學
5   B  櫻木花道  50
9   B   王小明  94
11  B    魯夫  70

In [18]:
#groups：查看「分組索引」輸出 (dict 格式，key 是群組名稱，value 是 index 列表)
print("\ndfsort1  sort by 班級，數學平均：\n",dfsort1.groups)
print("\ndfsort1  groups type:",type(dfsort1.groups))
isinstance(dfsort1.groups, dict)

dfsort1  sort by 班級，數學平均：
 {'A': [0, 1, 2, 3, 4, 6, 7, 8, 10, 12, 17, 18, 19, 21, 24, 25, 27], 'B': [5, 9, 11, 13, 14, 15, 16, 20, 22, 23, 26, 28, 29]}

dfsort1  groups type: <class 'pandas.io.formats.printing.PrettyDict'>

True

In [19]:
#get_group()：取出特定群組，傳回DataFrame
dfA = dfsort1.get_group("A")
print("\ndfsort1  sort by 班級，數學平均：\n",dfA)
print("\n type：",type(dfA))

dfsort1  sort by 班級，數學平均：
    班級    姓名  數學
0   A  多拉A夢  71
1   A    大雄  96
2   A    胖虎  61
3   A    靜香  48
4   A    小夫  80
6   A   出木杉  85
7   A   三井壽  50
8   A   哆啦美  83
10  A   我愛羅  53
12  A    柯南  78
17  A   黃怡君  74
18  A   吳宗翰  79
19  A   劉品妤  68
21  A   楊博雅  61
24  A   洪國維  56
25  A   邱筱婷  62
27  A   藍心妍  77

 type： <class 'pandas.core.frame.DataFrame'>

/tmp/ipykernel_2196/1715887121.py:2: FutureWarning: When grouping with a length-1 list-like, you will need to pass a length-1 tuple to get_group in a future version of pandas. Pass `(name,)` instead of `name` to silence this warning.
  dfA = dfsort1.get_group("A")

In [20]:
#用 for 迴圈檢視dfsort1所有群組 
print("for 取值")
for name, group in dfsort1:
    print("type name",type(name),"name：",name, "type group",type(group),"資料筆數：",len(group),"\ngroup head(3))):\n",group.head(3),)

for 取值
type name <class 'tuple'> name： ('A',) type group <class 'pandas.core.frame.DataFrame'> 資料筆數： 17
group head(3))):
   班級    姓名  數學
0  A  多拉A夢  71
1  A    大雄  96
2  A    胖虎  61
type name <class 'tuple'> name： ('B',) type group <class 'pandas.core.frame.DataFrame'> 資料筆數： 13
group head(3))):
    班級    姓名  數學
5   B  櫻木花道  50
9   B   王小明  94
11  B    魯夫  70

In [10]:
# 任務2
dfsort2 = df.groupby(by=['班級'], as_index=False)['數學'].mean()
print("dfsort2  sort by 班級，數學平均：\n",dfsort2)

# 任務3
dfsort3 = df.groupby(by=['班級', '性別'])['英文'].mean()
print("dfsort3  sort by 班級與性別，數學平均：\n",dfsort3)
dfsort4 = df.groupby(by=['班級', '性別'])['數學'].mean()
print("dfsort4  sort by 班級與性別，數學平均：\n",dfsort4)

dfsort2  sort by 班級，數學平均：
   班級         數學
0  A  69.529412
1  B  73.000000
dfsort3  sort by 班級與性別，數學平均：
 班級  性別
A   女     67.285714
    男     72.500000
B   女     79.750000
    男     68.666667
Name: 英文, dtype: float64
dfsort4  sort by 班級與性別，數學平均：
 班級  性別
A   女     67.571429
    男     70.900000
B   女     75.000000
    男     72.111111
Name: 數學, dtype: float64

In [12]:
# 任務4
print(df.groupby(by=['班級', '性別'])['數學'].agg(['mean', 'max', 'min']))
print(df.groupby(by=['班級', '性別'])['英文'].agg(['mean', 'max', 'min']))

            mean  max  min
班級 性別
A  女   67.571429   83   48
   男   70.900000   96   50
B  女   75.000000   85   63
   男   72.111111   94   50
            mean  max  min
班級 性別
A  女   67.285714   82   40
   男   72.500000   95   54
B  女   79.750000  100   63
   男   68.666667   92   53

In [ ]:
# concat範例

# 建立範例 DataFrame
## A班學生資料
classA = {
    '姓名': ['胖虎', '小夫', '靜香'],
    '性別': ['男', '男', '女'],
    '班級': ['A', 'A', 'A'],
}
## B班學生資料
classB = {
    '姓名': ['大雄', '多拉A夢', '出木杉'],
    '性別': ['男', '男', '男'],
    '班級': ['B', 'B', 'B'],
}
classA_df = pd.DataFrame(classA)
classB_df = pd.DataFrame(classB)
print("Class A：\n",classA_df)
print("Class B：\n",classB_df)

Class A：
    姓名 性別 班級
0  胖虎  男  A
1  小夫  男  A
2  靜香  女  A
Class B：
      姓名 性別 班級
0    大雄  男  B
1  多拉A夢  男  B
2   出木杉  男  B

In [31]:
# 垂直合併，重設索引
df_concat = pd.concat([classA_df, classB_df], ignore_index=True)
print("垂直合併，重設索引 type：",type(df_concat),"data\n",df_concat)


# 水平合併，重設索引
df_concat = pd.concat([classA_df, classB_df], axis=1,ignore_index=True)
print("水平合併，重設索引 type：",type(df_concat),"data\n",df_concat)

垂直合併，重設索引 type： <class 'pandas.core.frame.DataFrame'> data
      姓名 性別 班級
0    胖虎  男  A
1    小夫  男  A
2    靜香  女  A
3    大雄  男  B
4  多拉A夢  男  B
5   出木杉  男  B
水平合併，重設索引 type： <class 'pandas.core.frame.DataFrame'> data
     0  1  2     3  4  5
0  胖虎  男  A    大雄  男  B
1  小夫  男  A  多拉A夢  男  B
2  靜香  女  A   出木杉  男  B

In [13]:
# merge範例
# 建立範例 DataFrame
## 學生基本資料表
info_data = {
    '學號': ['S001', 'S002', 'S003',"S004"],
    '姓名': ['胖虎', '小夫', '靜香',"大雄"],
    '性別': ['男', '男', '女',"男"]
}

## 學生成績表
score_data = {
    '學號': ['S001', 'S002', 'S003'],
    '科目': ['數學', '數學', '數學'],
    '分數': [95, 87, 88]
}

info_df = pd.DataFrame(info_data)
score_df = pd.DataFrame(score_data)
print("info_de:",info_df)
print("score_de:",score_df)

info_de:      學號  姓名 性別
0  S001  胖虎  男
1  S002  小夫  男
2  S003  靜香  女
3  S004  大雄  男
score_de:      學號  科目  分數
0  S001  數學  95
1  S002  數學  87
2  S003  數學  88

In [17]:
# 使用 merge 合併兩表
merged = pd.merge(info_df, score_df, on='學號', how="outer")
print(merged.head(3))

#merged_score = pd.merge(info_df, score_df, on='分數')
#print(merged_score.head(3))

     學號  姓名 性別  科目    分數
0  S001  胖虎  男  數學  95.0
1  S002  小夫  男  數學  87.0
2  S003  靜香  女  數學  88.0

In [40]:
#朝狀merge
# 學生基本資料表
info_data = {
    '學號': ['S001', 'S002', 'S003'],
    '姓名': ['胖虎', '小夫', '靜香'],
    '性別': ['男', '男', '女']
}

# 學生成績表
score_data = {
    '學號': ['S001', 'S002', 'S003'],
    '科目': ['數學', '數學', '數學'],
    '分數': [95, 87, 88]
}

# 學生班級資料表
class_data = {
    '學號': ['S001', 'S002', 'S003'],
    '班級': ['1班', '1班', '2班']
}

# 將資料轉換為 DataFrame
info_df = pd.DataFrame(info_data)
score_df = pd.DataFrame(score_data)
class_df = pd.DataFrame(class_data)

# 第一步：將 info_df 和 score_df 合併
merged_1 = pd.merge(info_df, score_df, on='學號', how='inner')

# 第二步：將 merged_1 與 class_df 合併
final_merged = pd.merge(merged_1, class_df, on='學號', how='inner')

# 顯示最終合併結果
print(final_merged)

     學號  姓名 性別  科目  分數  班級
0  S001  胖虎  男  數學  95  1班
1  S002  小夫  男  數學  87  1班
2  S003  靜香  女  數學  88  2班

In [39]:
# join範例

# 學生基本資料表：將「姓名」作為欄位，學號作為索引
info = {
    '姓名': ['胖虎', '小夫', '靜香'],
    '性別': ['男', '男', '女'],
    '年齡': [15, 14, 15]
}
info_df = pd.DataFrame(info, index=['S001', 'S002', 'S003'])

# 學生成績表：也以學號為索引
score = {
    '科目': ['數學', '數學', '數學'],
    '分數': [95, 87, 88]
}
score_df = pd.DataFrame(score, index=['S001', 'S002', 'S003'])

# 使用 join 合併（根據學號索引）
result = info_df.join(score_df)
print(result)

      姓名 性別  年齡  科目  分數
S001  胖虎  男  15  數學  95
S002  小夫  男  14  數學  87
S003  靜香  女  15  數學  88

In [48]:
# 使用Pandas讀取資料
# 從本機讀取 CSV 檔案，若使用Colab，要先將檔案上傳後才能讀取
df = pd.read_csv('grades.csv',encoding='utf-8-sig')
df = df.set_index('姓名')
print(df.head(3))
print(df[df['國文'] >= 60].head(3))

     性別 班級  數學  英文  國文  自然  社會
姓名
多拉A夢  男  A  71  58  64  73  58
大雄    男  A  96  84  79  66  80
胖虎    男  A  61  74  90  80  76
     性別 班級  數學  英文  國文  自然  社會
姓名
多拉A夢  男  A  71  58  64  73  58
大雄    男  A  96  84  79  66  80
胖虎    男  A  61  74  90  80  76

In [18]:
df = pd.read_csv('grades.csv',encoding='utf-8-sig')
df = df.set_index('姓名')
print(df)

print(df.index)

     性別 班級  數學   英文   國文   自然  社會
姓名
多拉A夢  男  A  71   58   64   73  58
大雄    男  A  96   84   79   66  80
胖虎    男  A  61   74   90   80  76
靜香    女  A  48   82   86   69  67
小夫    男  A  80   59   92   44  70
櫻木花道  男  B  50   71  100   74  57
出木杉   男  A  85   89   80   72  72
三井壽   男  A  50   62   49   84  61
哆啦美   女  A  83   77   67   74  72
王小明   男  B  94   61   55   87  70
我愛羅   男  A  53   95   92   71  71
魯夫    男  B  70   92  100   69  73
柯南    男  A  78   91   93   56  85
李雅雯   女  B  63   73   79   63  88
陳建宏   男  B  84   67   70   65  71
張雅婷   女  B  85  100   77   83  79
林志偉   男  B  63   64   97   61  93
黃怡君   女  A  74   59   70   81  44
吳宗翰   男  A  79   59   75   53  80
劉品妤   女  A  68   62   68   75  80
蔡承翰   男  B  83   67   93   66  85
楊博雅   女  A  61   40   89   77  78
許庭瑋   男  B  72   72   80   64  80
郭怡婷   女  B  82   63   81   74  51
洪國維   男  A  56   54   74   63  77
邱筱婷   女  A  62   78   87  100  71
曾柏宇   男  B  74   53   86   93  58
藍心妍   女  A  77   73   67   69  88
羅承恩   男  B  59   71   84   87  67
彭佳怡   女  B  70   83   87   68  84
Index(['多拉A夢', '大雄', '胖虎', '靜香', '小夫', '櫻木花道', '出木杉', '三井壽', '哆啦美', '王小明',
       '我愛羅', '魯夫', '柯南', '李雅雯', '陳建宏', '張雅婷', '林志偉', '黃怡君', '吳宗翰', '劉品妤',
       '蔡承翰', '楊博雅', '許庭瑋', '郭怡婷', '洪國維', '邱筱婷', '曾柏宇', '藍心妍', '羅承恩', '彭佳怡'],
      dtype='object', name='姓名')

In [70]:
#print("選取第 1 列學生的數學成績",df.loc[1, '數學'])
print("依索引選取某位學生的數學成績:")
print(df.loc["大雄", '數學'])

依索引選取某位學生的數學成績:
96

In [66]:
print("選取所有學生的數學成績：")
df.loc[:, "數學"]

選取所有學生的數學成績：

姓名
多拉A夢    71
大雄      96
胖虎      61
靜香      48
小夫      80
櫻木花道    50
出木杉     85
三井壽     50
哆啦美     83
王小明     94
我愛羅     53
魯夫      70
柯南      78
李雅雯     63
陳建宏     84
張雅婷     85
林志偉     63
黃怡君     74
吳宗翰     79
劉品妤     68
蔡承翰     83
楊博雅     61
許庭瑋     72
郭怡婷     82
洪國維     56
邱筱婷     62
曾柏宇     74
藍心妍     77
羅承恩     59
彭佳怡     70
Name: 數學, dtype: int64

In [20]:
#print("選取第 1 列學生的數學與英文成績：",df.loc[1, ['數學', '英文']])
print(df)
print("選取所有學生從「數學」到「自然」這幾科的成績:")
df.loc["大雄", '數學':'自然']

     性別 班級  數學   英文   國文   自然  社會
姓名
多拉A夢  男  A  71   58   64   73  58
大雄    男  A  96   84   79   66  80
胖虎    男  A  61   74   90   80  76
靜香    女  A  48   82   86   69  67
小夫    男  A  80   59   92   44  70
櫻木花道  男  B  50   71  100   74  57
出木杉   男  A  85   89   80   72  72
三井壽   男  A  50   62   49   84  61
哆啦美   女  A  83   77   67   74  72
王小明   男  B  94   61   55   87  70
我愛羅   男  A  53   95   92   71  71
魯夫    男  B  70   92  100   69  73
柯南    男  A  78   91   93   56  85
李雅雯   女  B  63   73   79   63  88
陳建宏   男  B  84   67   70   65  71
張雅婷   女  B  85  100   77   83  79
林志偉   男  B  63   64   97   61  93
黃怡君   女  A  74   59   70   81  44
吳宗翰   男  A  79   59   75   53  80
劉品妤   女  A  68   62   68   75  80
蔡承翰   男  B  83   67   93   66  85
楊博雅   女  A  61   40   89   77  78
許庭瑋   男  B  72   72   80   64  80
郭怡婷   女  B  82   63   81   74  51
洪國維   男  A  56   54   74   63  77
邱筱婷   女  A  62   78   87  100  71
曾柏宇   男  B  74   53   86   93  58
藍心妍   女  A  77   73   67   69  88
羅承恩   男  B  59   71   84   87  67
彭佳怡   女  B  70   83   87   68  84
選取所有學生從「數學」到「自然」這幾科的成績:

數學    96
英文    84
國文    79
自然    66
Name: 大雄, dtype: object

In [34]:
dftemp = pd.read_csv('grades.csv',encoding='utf-8-sig')
print(dftemp)

dftemp.iloc[3, [3,4]]

      姓名 性別 班級  數學   英文   國文   自然  社會
0   多拉A夢  男  A  71   58   64   73  58
1     大雄  男  A  96   84   79   66  80
2     胖虎  男  A  61   74   90   80  76
3     靜香  女  A  48   82   86   69  67
4     小夫  男  A  80   59   92   44  70
5   櫻木花道  男  B  50   71  100   74  57
6    出木杉  男  A  85   89   80   72  72
7    三井壽  男  A  50   62   49   84  61
8    哆啦美  女  A  83   77   67   74  72
9    王小明  男  B  94   61   55   87  70
10   我愛羅  男  A  53   95   92   71  71
11    魯夫  男  B  70   92  100   69  73
12    柯南  男  A  78   91   93   56  85
13   李雅雯  女  B  63   73   79   63  88
14   陳建宏  男  B  84   67   70   65  71
15   張雅婷  女  B  85  100   77   83  79
16   林志偉  男  B  63   64   97   61  93
17   黃怡君  女  A  74   59   70   81  44
18   吳宗翰  男  A  79   59   75   53  80
19   劉品妤  女  A  68   62   68   75  80
20   蔡承翰  男  B  83   67   93   66  85
21   楊博雅  女  A  61   40   89   77  78
22   許庭瑋  男  B  72   72   80   64  80
23   郭怡婷  女  B  82   63   81   74  51
24   洪國維  男  A  56   54   74   63  77
25   邱筱婷  女  A  62   78   87  100  71
26   曾柏宇  男  B  74   53   86   93  58
27   藍心妍  女  A  77   73   67   69  88
28   羅承恩  男  B  59   71   84   87  67
29   彭佳怡  女  B  70   83   87   68  84

數學    48
英文    82
Name: 3, dtype: object

In [71]:
df[df['國文'] >= 60].head()

     性別 班級  數學  英文  國文  自然  社會
姓名
多拉A夢  男  A  71  58  64  73  58
大雄    男  A  96  84  79  66  80
胖虎    男  A  61  74  90  80  76
靜香    女  A  48  82  86  69  67
小夫    男  A  80  59  92  44  70

In [77]:
# 進階資料選取與修改
# 任務1
print(df.index)
df_reset = df.reset_index()
print(df_reset.index)
print(df_reset.loc[df_reset['姓名'] == '靜香', ['姓名', '數學', '英文']])

Index(['多拉A夢', '大雄', '胖虎', '靜香', '小夫', '櫻木花道', '出木杉', '三井壽', '哆啦美', '王小明',
       '我愛羅', '魯夫', '柯南', '李雅雯', '陳建宏', '張雅婷', '林志偉', '黃怡君', '吳宗翰', '劉品妤',
       '蔡承翰', '楊博雅', '許庭瑋', '郭怡婷', '洪國維', '邱筱婷', '曾柏宇', '藍心妍', '羅承恩', '彭佳怡'],
      dtype='object', name='姓名')
RangeIndex(start=0, stop=30, step=1)
   姓名  數學  英文
3  靜香  48  82

In [78]:
# 任務2
df_reset.loc[df_reset['國文'] < 60, '數學'] = 0
df_reset

      姓名 性別 班級  數學   英文   國文   自然  社會
0   多拉A夢  男  A  71   58   64   73  58
1     大雄  男  A  96   84   79   66  80
2     胖虎  男  A  61   74   90   80  76
3     靜香  女  A  48   82   86   69  67
4     小夫  男  A  80   59   92   44  70
5   櫻木花道  男  B  50   71  100   74  57
6    出木杉  男  A  85   89   80   72  72
7    三井壽  男  A   0   62   49   84  61
8    哆啦美  女  A  83   77   67   74  72
9    王小明  男  B   0   61   55   87  70
10   我愛羅  男  A  53   95   92   71  71
11    魯夫  男  B  70   92  100   69  73
12    柯南  男  A  78   91   93   56  85
13   李雅雯  女  B  63   73   79   63  88
14   陳建宏  男  B  84   67   70   65  71
15   張雅婷  女  B  85  100   77   83  79
16   林志偉  男  B  63   64   97   61  93
17   黃怡君  女  A  74   59   70   81  44
18   吳宗翰  男  A  79   59   75   53  80
19   劉品妤  女  A  68   62   68   75  80
20   蔡承翰  男  B  83   67   93   66  85
21   楊博雅  女  A  61   40   89   77  78
22   許庭瑋  男  B  72   72   80   64  80
23   郭怡婷  女  B  82   63   81   74  51
24   洪國維  男  A  56   54   74   63  77
25   邱筱婷  女  A  62   78   87  100  71
26   曾柏宇  男  B  74   53   86   93  58
27   藍心妍  女  A  77   73   67   69  88
28   羅承恩  男  B  59   71   84   87  67
29   彭佳怡  女  B  70   83   87   68  84

In [79]:
# 任務3
df_reset.iloc[2:5, 1:3]
df_reset.head()

     姓名 性別 班級  數學  英文  國文  自然  社會
0  多拉A夢  男  A  71  58  64  73  58
1    大雄  男  A  96  84  79  66  80
2    胖虎  男  A  61  74  90  80  76
3    靜香  女  A  48  82  86  69  67
4    小夫  男  A  80  59  92  44  70